<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Клик за жизнь</title>

    <!-- PT Sans Goodle fonts -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

	<!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<link href="css/styles.css" rel="stylesheet">
    
  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	
	
	<!-- page code -->
	<div class="container">
    
        <!-- lcolumn -->
        <div class="col-lg-3">
        
            <div id="logo"><a href="#"><img src="images/logotip.png" /></a></div>
            
            <div class="block reg-button">
                <a href="#"><div class="button-reg"><span class="glyphicon glyphicon-ok"></span>Регистрация</div></a>
            </div>
            
            <div class="block reg">
                <h4><span class="glyphicon glyphicon-ok-sign"></span>Личный кабинет</h4>
                <input type="text" name="email" value="Ваш email" />
                <input type="password" name="password" value="Ваш пароль" />
                <div class="forgotten"><a href="#">Восстановление пароля</a></div>
                <input type="button" class="button-login" name="login" value="Войти" />
            </div>
            
            <div class="block warning">
                <h4><a href="#">Внимание! Срочный сбор!</a></h4>
                <div class="image"><img src="images/childs/1.jpg" class="img-circle" /></div>
                <h2 class="name"><a href="#">Лазарева Анастасия</a></h2>
                <div class="diagnose">Абдомиальная эпилепсия</div>
                <div class="balance-needed">56 092 <span class="currency">грн.</span></div>
                <div class="clr"></div>
            </div>
            
        </div>
        
        <!-- content area -->
        <div class="col-lg-7">
        
            <div id="menu">
                <ul>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Помощь</a></li>
                    <li><a href="#">Рекламодателям</a></li>
                    <li><a href="#">Статистика</a></li>
                    <li><a href="#">Контакты</a></li>
                <div class="clr"></div></ul>
                

            </div>
            
            <div id="content">
                <div id="breadcrumbs"><li><a href="#">Главная</a></li><li><a href="#">Категории</a></li><span class="active">Дети</span></div>
                    
                     <h3>Регистрация</h3>

                    <!-- registration div start -->
                    <div class="registration">

                        <!-- item -->
                        <div class="col-md-4">
                            <h4>Волонтера</h4>
                            <div class="image"><img src="" class="img-circle" /></div>
                            <ul>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                            </ul>
                        </div>

                        <!-- item -->
                        <div class="col-md-4">
                            <h4>Волонтера</h4>
                            <div class="image"><img src="" class="img-circle" /></div>
                            <ul>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                            </ul>
                        </div>

                        <!-- item -->
                        <div class="col-md-4">
                            <h4>Волонтера</h4>
                            <div class="image"><img src="" class="img-circle" /></div>
                            <ul>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                                <li>asdasdas</li>
                            </ul>
                        </div>

                        <div class="clr"></div>

                    </div>
                    <!-- registration div end -->
                    
                </div>
                    
                </div>
        
        </div>
        
        <!-- rcolumn -->
        <div id="col-lg-3">
        
            <div class="block phones">
                <div class="item">
                    <span class="country">Украина</span>
                    <span>+38 (044) 124 - 4 - 211</span>
                </div>
                <div class="item">
                    <span class="country">Украина</span>
                    <span>+38 (044) 124 - 4 - 211</span>
                </div>
                <a href="#" class="more">Все контакты</a>
            </div>
            
            <!-- diagnoses block -->
            <div class="block diagnoses">
                <h4><span>Справка</span><a href="#">Список диагнозов</a></h4>
                <ul>
                    <li><a href="#">Новая успешная операция</a></li>
                    <li><a href="#">Новая успешная операция</a></li>
                    <li><a href="#">Новая успешная операция</a></li>
                    <li><a href="#">Новая успешная операция</a></li>
                </ul>
                <a href="#" class="more">Полный список</a>
            </div>
            
            <!-- news block -->
            <div class="block news">
                <h4><span>Последние</span><a href="#">новости</a></h4>
                <div class="main-area">
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                </div>
            </div>
            
        </div>
    
        <div id="footer"></div>
    </div>
	
  </body>
</html>