{{>header}}

<body>

	<div class="container">

		{{>lcolumn}}

		<!-- content area -->
        <div class="col-lg-7">
        	{{>navigation}}

        	<div id="content">
				{{>breadcrumbs}}
				{{>content}}
			</div>
		</div>

		{{>rcolumn}}

	</div>

</body>

{{>footer}}