<div class="block reg">
	<h4><span class="glyphicon glyphicon-ok-sign"></span>Личный кабинет</h4>
	{{{login_form}}}
	<div class="forgotten"><a href="#">Восстановление пароля</a></div>
</div>

{{#is_logged_in}}
<div class="block reg">
	asdas
</div>
{{/is_logged_in}}