<!-- lcolumn -->
        <div class="col-lg-3">
        
            <div id="logo"><a href="#"><img src="images/logotip.png" /></a></div>

            {{#is_logged_in}}

                <div class="block reg">
                    <a href="#">Мой профиль</a>
                    <a href="{{{logout_user}}}">Выйти</a>
                </div>
            {{/is_logged_in}}
            {{^is_logged_in}}
                <div class="block reg-button">
                    <a href="{{{register_user_button_url}}}">
                    <div class="button-reg"><span class="glyphicon glyphicon-ok"></span>Регистрация</div></a>
                </div>
                {{>loginform}}
            {{/is_logged_in}}
            
            <div class="block warning">
                <h4><a href="#">Внимание! Срочный сбор!</a></h4>
                <div class="image"><img src="images/childs/1.jpg" class="img-circle" /></div>
                <h2 class="name"><a href="#">Лазарева Анастасия</a></h2>
                <div class="diagnose">Абдомиальная эпилепсия</div>
                <div class="balance-needed">56 092 <span class="currency">грн.</span></div>
                <div class="clr"></div>
            </div>
            
        </div>