<!-- rcolumn -->
        <div id="col-lg-3">
        
            <div class="block phones">
                <div class="item">
                    <span class="country">Украина</span>
                    <span>+38 (044) 124 - 4 - 211</span>
                </div>
                <div class="item">
                    <span class="country">Украина</span>
                    <span>+38 (044) 124 - 4 - 211</span>
                </div>
                <a href="#" class="more">Все контакты</a>
            </div>
            
            <!-- diagnoses block -->
            <div class="block diagnoses">
                <h4><span>Справка</span><a href="#">Список диагнозов</a></h4>
                <ul>
                    <li><a href="#">Новая успешная операция</a></li>
                    <li><a href="#">Новая успешная операция</a></li>
                    <li><a href="#">Новая успешная операция</a></li>
                    <li><a href="#">Новая успешная операция</a></li>
                </ul>
                <a href="#" class="more">Полный список</a>
            </div>
            
            <!-- news block -->
            <div class="block news">
                <h4><span>Последние</span><a href="#">новости</a></h4>
                <div class="main-area">
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                    <div><div class="image"></div><span class="date"></span><a href="#">Новая успешная операция</a></div>
                </div>
            </div>
            
        </div>